{% load static i18n %}
<html lang="pt-br">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}EEA - Participe da campanha de 2026{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="description" content="{% block description %}Descubra um ambiente dedicado a conectar pesquisadores, estudantes e instituições acadêmicas. Encontre as melhores oportunidades de pesquisa em diversas áreas e compartilhe suas próprias vagas. Simplifique a gestão de recursos humanos acadêmicos e conecte-se com talentos promissores. Impulsione sua carreira acadêmica com nossa plataforma intuitiva e abrangente.{% endblock description %}">
  <meta name="propeller" content="6927e8a827565cee6f85563433b6454e">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

{% block structure %}{% endblock structure %}

{% block content %}{% endblock content %}

{% block modal %}{% endblock modal %}
{% block css %}
<link ref="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
{% endblock %}


{% block inline_javascript %}

{% endblock inline_javascript %}
</body>
</html>
