{% extends "base.html" %}

{% block content %}
<div style="display: flex; flex-direction: column;">
  <a class="dropdown-item" href="{% url 'inscription_csv' %}">Excell com inscrições</a>
  {% comment %} <a class="dropdown-item" href="{% url 'inscription_pdf' %}">Venue PDF File</a> {% endcomment %}
</div>
{% for inscription in inscriptions %}
<div style="display: flex; flex-direction: row; align-items: center;">
  <h5>{{ inscription.cpf  }}</h5>

    <h5 style="margin-left: 25px">{{ inscription.name }}</h5>
    <h5 style="margin-left: 25px">{{ inscription.file }}</h5>
    <a style="margin-left: 25px" href="{% url 'inscription_pdf' inscription.id %}">Arquivo PDF de {{ inscription.name }}</a>
  </div>
{% endfor%}
{% endblock %}
