{% extends "base.html" %}

{% block content %}
<div style="display: flex; flex-direction: column;">
  <a class="dropdown-item" href="{% url 'inscription_csv' %}">Excell com inscrições</a>
  <a class="dropdown-item" href="{% url 'inscription_pdf' %}">Venue PDF File</a>
</div>
<h5>ola</h5>
{% for inscription in inscriptions %}
<div style="display: flex; flex-direction: row;">
  <h5>{{ inscription.id  }}</h5>
    <h5 style="margin: 25px">{{ inscription.name }}</h5>
  </div>
{% endfor%}
{% endblock %}
