<h1> [Esta é uma mensagem automática, favor não responda]</h1>
<p>Olá {{name}}</p>
<p>Acabamos de receber a sua inscrição para participar da formação gratuita do Estúdio Escola de Animação 2025! :)</p>
<p>A divulgação dos selecionados da 1ª etapa está prevista para acontecer em xx de xxxxx. Comunicaremos tudo em nossas redes sociais (@estudioescola) e site (www.estudioescola.com.br)! </p>
<p>Em caso de dúvidas, entre em contato através do e-mail estudioescoladeanimacao@gmail.com, ou pelo WhatsApp (21) 96866-5992. /p>
<p>Agradecemos o seu interesse em fazer parte da nossa história! </p>
<p>Cruze os dedos e boa sorte! </p>
<p>Equipe Estúdio Escola de Animação 2025</p>
